.product-navs a {
  text-decoration: none;
  color: #222;
  font-size: 12px;
  transition: 0.3s;
}

.product-image img {
  width: 100%;
  height: 250px;
}

.product-image {
  position: relative;
}

.product-navs {
  position: absolute;
  top: 0;
}
.product-image img {
  width: 100%;
  height: 200px;
}

.product-info {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: #222;
}

.product-info:hover .product-navs {
  width: 100%;
  opacity: 1;
  background: rgba(255, 255, 255, 1);
}

.product-navs {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 0%;
  left: 0;
  display: flex;
  top: 156px;
  background: rgba(0, 0, 0, 1);
  padding: 22px 0;
  justify-content: space-between;
  height: 40px;
  opacity: 0;
  transition: all 0.3s;
}
.product-detail h4 {
  font-size: 15px;
  margin: 0;
  font-weight: 400;
}

.product-detail {
  padding: 10px 15px;
}

.product-detail p span {
  font-size: 12px;
  font-weight: 700;
}

.product-navs > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-navs > a > span {
  margin-right: 5px;
}

.product-nav-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-nav-icons > a {
  font-size: 15px;
  line-height: 40px;
  padding: 0px 6px;
}

.product-image-slider img {
  width: 100%;
  height: 222px;
}
