.catsection a,
.colorsection a {
  text-decoration: none;
  color: #222;
  text-transform: uppercase;
}
.catsection a:hover,
.colorsection a:hover {
  color: black;
}

.catsection > a,
.colorsection > a {
  background: #ddd;
  padding: 13px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catsection {
  margin-bottom: 25px;
  border-bottom: 1px solid #ccc;
}
